<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <img width="40%" height="20%" src=".\images\SUTD_2.jpg">
    <main>
        <h1>Home page text</h1>  
        <p>bing bong abcdef</p>
        <img src = "">
    </main>
    <script src="index.js"></script>
  </body>
</html>